.learn {
    background: #000000;
}

.learn-wrapper {
    padding: 70px 0;
}

@media(min-width: 960px) {
    .learn-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 2fr;
        grid-template-rows: 1fr;
    }
}